[MASTER]
# Add files or directories to the blacklist. They should be base names, not
# paths.
ignore=CVS

[MESSAGES CONTROL]
#enable=

disable =
    # C0301: Line too long
    # C0330: Wrong hanging indentation before block
    # disabled because black handles this
    C0301,C0330,

    # C0114: Missing module docstring
    # C0115: Missing class docstring
    # C0116: Missing function or method docstring
    C0114,C0115,C0116,

    # All convention and refactor for now
    C,R,

    # W1201: Specify string format arguments as logging function parameters
    # W1202: Use % formatting in logging functions and pass the % parameters as arguments
    W1201,W1202,

    # W0612: Unused variable
    # W0613: Unused argument
    W0612, W0613,

    # W0107: Unnecessary pass statement
    W0107,

    # W0511 "TODO"
    W0511,

    # W0703: Catching too general exception Exception
    W0703,

    # E0401: Unable to import... - triggers for external dependencies like numpy
    E0401,

    # This was causing false positives
    # Appears to be https://github.com/PyCQA/pylint/issues/2981
    W0201,

    # Using the global statement
    W0603,

    # "Access to a protected member _foo of a client class (protected-access)"
    W0212
