# Test-only dependencies should go here, not in setup.py
pytest>4.0.0,<6.0.0
pytest-cov==2.6.1
pytest-xdist==1.34.0

# Tensorflow tests are here for the time being, before they are used in the codebase.
tensorflow>=1.14,<3.0

tf2onnx>=1.5.5
