absl-py==0.14.1
aiohttp==3.7.4.post0
aiohttp-cors==0.7.0
aioredis==1.3.1
appnope==0.1.2
argon2-cffi==21.1.0
astunparse==1.6.3
async-timeout==3.0.1
attrs==21.2.0
backcall==0.2.0
beautifulsoup4==4.10.0
bleach==4.1.0
blessings==1.7
bs4==0.0.1
cachetools==4.2.4
cattrs==1.5.0
certifi==2021.5.30
cffi==1.14.6
chardet==4.0.0
charset-normalizer==2.0.6
clang==5.0
click==8.0.1
cloudpickle==1.6.0
colorful==0.5.4
cycler==0.10.0
debugpy==1.5.0
decorator==5.1.0
defusedxml==0.7.1
dm-tree==0.1.6
entrypoints==0.3
filelock==3.3.0
flatbuffers==1.12
gast==0.4.0
google-api-core==2.1.0
google-auth==1.35.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googleapis-common-protos==1.53.0
gpustat==0.6.0
grpcio==1.41.0
gym==0.19.0
h5py==3.1.0
hanabi-learning-environment==0.0.1
hiredis==2.0.0
idna==3.2
imageio==2.9.0
ipykernel==6.4.1
ipython==7.28.0
ipython-genutils==0.2.0
ipywidgets==7.6.5
jedi==0.18.0
Jinja2==3.0.2
jsonschema==4.0.1
jupyter==1.0.0
jupyter-client==7.0.6
jupyter-console==6.4.0
jupyter-core==4.8.1
jupyter-http-over-ws==0.0.8
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.2
keras==2.6.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.2
lz4==3.1.3
magent==0.1.14
Markdown==3.3.4
MarkupSafe==2.0.1
matplotlib==3.4.2
matplotlib-inline==0.1.3
mistune==0.8.4
-e ./ml-agents-envs
-e ./ml-agents
-e ./pettingzoo-unity
msgpack==1.0.2
multi-agent-ale-py==0.1.11
multidict==5.2.0
nbclient==0.5.4
nbconvert==6.2.0
nbformat==5.1.3
nest-asyncio==1.5.1
networkx==2.6.3
notebook==6.4.4
numpy==1.19.5
nvidia-ml-py3==7.352.0
oauthlib==3.1.1
opencensus==0.8.0
opencensus-context==0.1.2
opencv-python==3.4.15.55
opt-einsum==3.3.0
packaging==21.0
pandas==1.3.3
pandocfilters==1.5.0
parso==0.8.2
PettingZoo==1.11.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.3.2
prometheus-client==0.11.0
prompt-toolkit==3.0.20
protobuf==3.18.1
psutil==5.8.0
ptyprocess==0.7.0
py-spy==0.3.10
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pygame==2.0.0
pyglet==1.5.21
Pygments==2.10.0
pymunk==6.0.0
pyparsing==2.4.7
pyrsistent==0.18.0
python-chess==0.31.4
python-dateutil==2.8.2
pytz==2021.3
PyWavelets==1.1.1
PyYAML==5.4.1
pyzmq==22.3.0
qtconsole==5.1.1
QtPy==1.11.2
ray==1.6.0
redis==3.5.3
requests==2.26.0
requests-oauthlib==1.3.0
rlcard==1.0.3
rsa==4.7.2
scikit-image==0.18.3
scipy==1.7.1
Send2Trash==1.8.0
six==1.15.0
soupsieve==2.2.1
SuperSuit==3.1.0
tabulate==0.8.9
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorboardX==2.4
tensorflow==2.6.0
tensorflow-estimator==2.6.0
tensorflow-probability==0.14.1
termcolor==1.1.0
terminado==0.12.1
testpath==0.5.0
tifffile==2021.8.30
torch==1.8.1
tornado==6.1
traitlets==5.1.0
typing-extensions==3.7.4.3
urllib3==1.26.7
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.0.2
widgetsnbextension==3.5.1
wrapt==1.12.1
yarl==1.6.3
